*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.config
.DS_Store
.idea
.project
.vscode
.strong-pm
coverage
/test_report
node_modules
npm-debug.log
.nyc_output
docs/
jmeter/jmeter.log
jmeter/report.csv
jmeter/test_plan
jmeter/HTMLReport
.sonar/
yarn.lock
contract/spring-cloud-contract
.npmrc
config/secrets